// 모달
.modal-container {
    display: flex;
    justify-content: center;

    .modal-content {
        margin: auto;
        min-width: 400px;
        min-height: 150px;
        max-width: 70vw;
        word-break:break-all;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-direction: column;

        .modal-title-wrap {
            margin-bottom: 20px;
            flex: 1;
            display: flex;
            align-items: center;

            .modal-title {
                font-size: 16px;
            }
        }

        .modal-btn-wrap {
            display: flex;
            justify-content: end;
            height: 36.5px;

            .close-btn {
                margin-right: 10px;
            }
        }
    }
}