
// @import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
// @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


* {
  // font-family: 'Noto Sans KR' !important;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  margin: 0;
  box-sizing: border-box;

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  // 드래그 방지
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

button {
  outline: none;
  border: none;
  padding: 0;
}